body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#profile-card {
  width: 460px;
  height: 560px;
  background-color: #fcfcfc;
  border-radius: 15px;
  padding: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 40px;
}

img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  margin-top: -13px;
}

#club-info {
  font-weight: bold;
  padding: 12px;
}

strong {
  color: #c4001d;
  font-weight: bolder;
  font-size: 15px;
  margin-bottom: 10px;
}

p {
  color: #212121;
  margin: 5px 0;
}

li {
  color: #666;
  font-weight: bold;
  margin-left: 18px;
}

h2 {
  color: #c4001d;
  font-weight: bolder;
  font-size: 15px;
  margin-top: 8px;
}

.meida-buttons {
  display: flex;
  align-items: center;
}

.meida-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: -6px 15px;
  background-color: #4070fd;
  text-decoration: none;
}


table {
  width: 480px;
  margin-top: 10px;
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  cursor: pointer;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #c4001d;
  color: #fff;
  cursor: default;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}